Class_Prep/bank_police_data/data/database.csv
Class_Prep/bank_police_data/data/house-prices-advanced-regression-techniques/test.csv
Class_Prep/bank_police_data/data/house-prices-advanced-regression-techniques/train.csv
Class_Prep/data